<div class="card bg-success mb-3">
    <div class="d-flex justify-content-center">
        {{#if posts.length}}
        <h2 class="m-3">{{posts.0.user.username}}'s Dashboard</h2>
        {{else}}
        <h2 class="m-3">Your Dashboard</h2>
        {{/if}}
    </div>
</div>
{{#if posts.length}}
    {{#each posts}}

        <article class="post card bg-success m-1">
            <div class="title card bg-primary p-2">
                <h2><a href="/edit/{{id}}" id="edit-post" class="text-white">{{title}}</a></h2>
                <p class="text-white">Created on {{format_date created_at}} and has {{comment_count}} {{format_plural "comment" comment_count}}.</p>
            </div>
            <div class="p-2">
                <h3>{{post_text}}</h3>
            </div>
        </article>

    {{/each}}
{{/if}}
<div class="d-flex justify-content-around m-3">
    <button id="new-post" class=" btn bg-success" > + Add a new post</button>
</div>  
<script src="/javascript/dashboard.js"></script>