<div class="title card bg-success align-items-center">
    <h2 class="m-3">View and Add Comments</h2>
</div>

<article class="post mt-3">
    <div class="title card bg-primary align-items-center">
        <h2>{{post.title}}</h2>
    </div>
    <div class="card bg-success align-items-center">
        <p class="text-white">By {{post.user.username}} on {{format_date post.created_at}}</p>
        <h2 class="text-white">{{post.post_text}}</h2>
    </div>
</article>


<div class="d-flex justify-content-around bg-light mt-3">
{{#if post.comments}}
    <div class="card col-6 p-1 justify-content-center">
        <h4>Comments</h4>
        {{> comments post.comments }}
    </div> 
{{else}}
    <div class="card col-6 p-1 justify-content-center">
        <h3>No commments on this post</h3>
    </div> 
{{/if}}       
    <div class="card col-6 p-1 justify-content-center">
        <h4>Add a comment:</h4>
        <form class="comment-form">
            <div>
                <textarea type="textarea" id="comment-text" class="full-width"></textarea>
            </div>
            <button type="submit" class="btn bg-primary" id="submit-comment">Add your comment</button>
        </form>
    </div>
</div>


<script src="/javascript/addcomment.js"></script>

